.link {
    text-decoration: none;
}

:root {
    --navy-color:#404BBF;
    --text-fon-color:#2E2F42;
    --fon-color:#F4F4FD;
    --fon-title:#FFFFFF;
    --color-top:#434455;
    --color-back:#E5E5E5;
    --color-header:#E7E9FC;
    --color-logo:#4D5AE5;


}


.list {
    list-style: none;
}
body {
    font-family: 'Roboto',
        sans-serif;
    color: #434455;
 
   

}


.header-top {}

.heder-navigation {}

.logo {
    font-family: 'Raleway',
        sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
     
     
}

.logo-light-theme {
    color: var(--text-fon-color);
}
.logo-dark-theme {
    color:var(--fon-color);
}


.logotipe {
   color: var(--color-logo);
   }

.menu-list {}



.menu-item {}

.menu-link {
 
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--text-fon-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--navy-color);
}

.menu-address {
    font-style: normal;
    
    }

.menu-list- {}

.address {}

.menu-item-address {}

.address-mail {
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-top);
}
.address-mail:hover,
.address-mail:focus {
    color: var(--navy-color);
}

.address-tel {
  
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: var(--color-top);}

        .address-tel:hover,
        .address-tel:focus {
            color: var(--navy-color);
        }

        .hero {background: var(--text-fon-color);}
    
        .title-hero {
            font-size: 56px;
            line-height: 1.07;
            text-align: center;
            letter-spacing: 0.02em;
            color:var(--fon-title);}
    
        .hero-btn {
            font-family: 'Roboto',
                    sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color:var(--fon-title);
            background:var(--color-logo);
            cursor: pointer;
        }
        .hero-btn:hover,
        .hero-btn:focus {
            background: var(--navy-color);
        }
  
        

.section-two {
    
}
.strategy-title{
    visibility: hidden;
}
.menu-list-strategy {}



.item-strategy {}

.subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--text-fon-color);
       
}

.strategy-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}

.section-service {
   
}

.section-title {
        font-size: 36px;
        line-height:1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--text-fon-color);
}

.menu-list-doing {}

.menu-item-doing {}



.section-team {
    background:var(--fon-color);
}



.menu-list-team {}



.menu-item-team {}

.card {
    background: var(--fon-title);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}

.photo {
    background: url;
    mix-blend-mode: normal;
   ;
}

.photo-name {
        font-weight: 500;
        font-size: 20px;
        line-height:1.2 ;
        letter-spacing: 0.02em;
        color:var(--text-fon-color);
       
}

.profile {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
       
}


.footer-top {
    background:var(--text-fon-color);
}









.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
         color: var(--color-header);
}

.section-btn-pro {}

.menu-list-btn {}



.menu-item-btn {
      
}

.text-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--color-logo);
     
}
.text-btn:hover,
.tet-btn:focus {
    background: var(--navy-color);
}

.btn-type-pro {
        width: 78px;
        height: 24px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--color-logo);

}

.card-prof {
    background: var(--fon-title);
}
